name: Publish GHCR

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@0a12ed9d6a79d42c1d6be20b6b2dce319b713d3c # v5.0.2
        with:
          go-version: "1.22"

      - name: Install ko
        run: go install github.com/ko-build/ko@latest

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push
        env:
          KO_DOCKER_REPO: ghcr.io/buzaslan128/headscaleha
        run: |
          ko build ./cmd/headscale --bare --tags=main --platform=linux/amd64,linux/arm64
